server:
  port: 0

spring:
  kafka:
    bootstrap-servers: 218.147.228.28:9092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      auto-offset-reset: earliest
      properties:
        schema.registry.url: http://218.147.228.28:8081
        specific.avro.reader: true